<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.2.xsd
         http://www.springframework.org/schema/aop 
       	 http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       	 http://www.springframework.org/schema/tx 
         http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<context:annotation-config />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<context:component-scan base-package="edu.cuit.hzhspace" />

	<!-- read -->
	<bean id="readEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="hzhRead" />
		<property name="persistenceXmlLocation" value="classpath:META-INF/jpa-persistence.xml" />
	</bean>
	<bean id="readTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="readEntityManagerFactory" />
	</bean>
	<tx:advice id="txAdviceRead" transaction-manager="readTransactionManager">
		<tx:attributes>
			<tx:method name="read*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<!-- write -->
	<bean id="writeEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="hzhWrite" />
		<property name="persistenceXmlLocation" value="classpath:META-INF/jpa-persistence.xml" />
	</bean>
	<bean id="writeTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="writeEntityManagerFactory" />
	</bean>
	<tx:advice id="txAdviceWrite" transaction-manager="writeTransactionManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="userServiceMethodRead" expression="execution(* edu.cuit.hzhspace.service.*.*(..))" />
		<aop:pointcut id="userServiceMethodWrite" expression="execution(* edu.cuit.hzhspace.service.*.*(..))" />
		<aop:advisor advice-ref="txAdviceRead" pointcut-ref="userServiceMethodRead" />
		<aop:advisor advice-ref="txAdviceWrite" pointcut-ref="userServiceMethodWrite" />
	</aop:config>

</beans>